<% let G_PAGE = JSON.parse('{"PAGE_NAME":"ALBUM","ID":{"MODAL":"modal_album"},"DATASET":{"KEY":{"ALT_ID":"alt_id"}}}') %>
<div class="modal fade" id="<%= G_PAGE.ID.MODAL %>" tabindex="-1" aria-labelledby="modalBackdrop" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改照片名稱</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control">
        <div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消更新</button>
        <button type="button" class="btn btn-primary" disabled>更新</button>
      </div>
    </div>
  </div>
</div>