<li class="nav-item d-none d-sm-block">
  <a class="nav-link" href="/square">廣場頁</a>
</li>
<li style="flex-grow: 1;"></li>
<!--下拉選單-->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">通知
    <span class="badge rounded-pill bg-danger news-count"></span>
    <span class="badge rounded-pill bg-danger new-news-count"></span>
  </a>
  <!-- 通知列表 -->
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="newsList">
    <!-- 新通知標題 -->
    <li class="dropdown-item" style="display: none;" id="unconfirm-news-title">新通知</li>
    <!-- 先前通知的標頭 -->
    <li class="dropdown-item" style="display: none;" id="confirm-news-title">先前的通知</li>
    <li id="readMore">
      <button class="dropdown-item link-primary" type="button">讀取更多</button>
    </li>
    <li class="dropdown-item" id="noNews">
      <span>沒有更多了</span>
    </li>
  </ul>
</li>