<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/errorHandle.ejs') %>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title ? title : errModel.msg %></title>

    <!-- JetBrainsMono -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <!-- Noto Serif Traditional Chinese -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- <body style="overflow: hidden;"> -->

  <body>
    <%- include('./components/navbar/index.ejs') %> <%-
    include('./components/pageLoading.ejs') %>
  </body>
</html>
