<!-- pageLoading -->
<div tabindex="0" id="loadingBackdrop" style="
  width: 100vw;
  height: 100vh;
  background: rgb(219, 159, 159);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  color: black;
  font-family: 'JetBrains Mono','Noto Serif TC', 'Courier New', Courier, monospace;
  ">
  <div style="
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    ">
    <h1 style="font-size: calc(1.375rem + 1.5vw); font-weight: 700; margin: 0;">
      LOADING
    </h1>
  </div>
</div>