<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <%- include('../wedgets/header/index', {title:  locals.title ? title : errModel.msg }) %>
</head>

<body>
  <%- include('../wedgets/pageLoading/index') %>
  <%- include('../wedgets/navbar/index') %>
  <main class="container-md" style="display: none;">
    <div class="card">
      <div class="card-header">
        <h1 id="code"></h1>
      </div>
      <div class="card-body">
        <div>
          <h1 id="msg"></h1>
        </div>
      </div>
    </div>
  </main>
  <%- include('../wedgets/footer/index') %>
</body>

</html>