<div style="display: none;">
  <%
      let whiteList = ({
        albumList: ['album'],
        album: ['blog', 'imgs'],
        blog: ['blog'],
        errPage: ['errModel'],
        square: ['blog'],
        user: ['currentUser', "relationShip", 'blogs'],
        register_login: [],
        setting: ['currentUser'],
        
      })[locals.page].concat(['active', 'login', 'page'])
  %>
  <% for(let type in locals){ %>
  <% if( whiteList.some(item => item === type)){ %>
  <div data-my-data="<%= type %>">
    <%- JSON.stringify(locals[type]) %>
  </div>
  <% } %>
  <% } %>
</div>