<div style="display: none;">
  <%
      let whiteList = ({
        ALBUM_LIST: ['album', 'pagination'],
        ALBUM: ['blog', 'imgs'],
        BLOG: ['blog'],
        BLOG_EDIT: ['blog'],
        ERR_PAGE: ['errModel'],
        SQUARE: ['blog', 'pagination'],
        USER: ['currentUser', "relationShip", 'blogs', 'pagination'],
        REGISTER_LOGIN: [],
        SETTING: ['currentUser'],
      })[locals.page].concat(['active', 'login', 'page'])
  %>
  <% for(let type in locals){ %>
  <% if( whiteList.some(item => item === type)){ %>
  <div data-my-data="<%= type %>">
    <%- JSON.stringify(locals[type]) %>
  </div>
  <% } %>
  <% } %>
</div>