<div style="display: none;">
  <%
      let whiteList = Object.values({
        user: ['currentUser', "relationShip", 'blogs', 'active'],
        blog: ['blog', 'active'],
        square: ['blog', 'active'],
        album: ['blog', 'imgs', 'active'],
        setting: ['currentUser', 'active'],
        errPage: ['errModel', 'active']
      }).flat()
  %>
  <% for(let type in locals){ %>
  <% if( whiteList.some(item => item === type)){ %>
  <div data-my-data="<%= type %>">
    <%- JSON.stringify(locals[type]) %>
  </div>
  <% } %>
  <% } %>
</div>