<footer class="container-fluid" style="opacity: 0;">
  <div class="row">
    <div class="col">
      <ul>
        <li>A1</li>
        <li>A2</li>
        <li>A3</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>B1</li>
        <li>B2</li>
        <li>B3</li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li>C</li>
        <li>C</li>
        <li>C</li>
      </ul>
    </div>
  </div>
</footer>
<%- include('./components/ejs-data-list') %>
<%- include('./components/cdn-js') %>