<footer class="container-fluid">

  <p style="text-align: center;">範例網站若做得還可以，還抽空在<a href="/blog/1">文章</a>中留言，<br class="d-none d-sm-block">或是<a href="mailto:tume20938@gmail.com">寄發Email</a>，當然也歡迎<a href="tel:+886-981237800">來電</a>，感謝您費時參考。</p>
  <div style="
  text-align: center;
">
    <div style="
  display: inline-block;
  text-align: left;
">
      <ul>
        <li>Email：<a href="mailto:tume20938@gmail.com">tume20938@gmail.com</a></li>
        <li>Phone：<a href="tel:+886-981237800">0981237800</a></li>
        <li>LINE ID：<a href="https://line.me/ti/p/XGQyPIxqxt">tume209</a></li>
      </ul>
    </div>
  </div>


</footer>
<%- include('./components/ejs-data-list') %> <%- include('./components/cdn-js')
%>