<footer class="container-fluid">

  <p style="text-align: center;">
    此為<a href="/blog/1">自薦網站作品</a>，若能力恰好符合貴司職缺需求，懇請傳送<a target="_blank" href="https://pda.104.com.tw/profile/share/bH54VPpkMXcLhr4AgToL17bt3kDbOffl">面試邀約</a>，<br class="d-none d-sm-block">亦或<a href="mailto:tume20938@gmail.com">來電</a>、<a href="/blog/1#comment_9">留言</a>、<a href="mailto:tume20938@gmail.com">Email</a>、<a href="https://line.me/ti/p/XGQyPIxqxt">LINE</a>皆可，感謝您費時參考。
  </p>
  <div style="
  text-align: center;
">
    <div style="
  display: inline-block;
  text-align: left;
">
      <ul>
        <li>Email：<a href="mailto:tume20938@gmail.com">tume20938@gmail.com</a></li>
        <li>LINE ID：<a href="https://line.me/ti/p/XGQyPIxqxt">tume209</a></li>
      </ul>
    </div>
  </div>


</footer>
<%- include('./components/ejs_data_list') %> <%- include('./components/script_tag')
%>