<footer class="container-fluid">

  <p style="text-align: center;">
    此為<a href="/blog/1">自薦網站作品</a>，若貴司認為功能還可以，懇請傳送<a target="_blank" href="https://pda.104.com.tw/profile/share/gw9QK37qV8L4MtPuiwJEaqI36xZ1Ppqg">面試邀約</a>，
    <br class="d-none d-sm-block">
    或是<a href="/blog/1">留言</a>、寄發Email、傳送LINE訊息皆可，感謝您費時參考。
  </p>
  <div style="
  text-align: center;
">
    <div style="
  display: inline-block;
  text-align: left;
">
      <ul>
        <li>Email：<a href="mailto:tume20938@gmail.com">tume20938@gmail.com</a></li>
        <li>LINE ID：<a href="https://line.me/ti/p/XGQyPIxqxt">tume209</a></li>
      </ul>
    </div>
  </div>


</footer>
<%- include('./components/ejs-data-list') %> <%- include('./components/cdn-js')
%>